/* stylelint-disable */
/***
fixpx
***/
@function fixpx($px) {
    @return ($px/31.2)+rem;
}
  

.wrap {
    position: absolute;
    width: 100%;
    pointer-events: none;
}
.message {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 400ms;
    opacity: 0;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    margin-bottom: 0.5em;
}

.messagecontent {
    padding: fixpx(15) fixpx(20);
    background-color: rgba(0,0,0,.6);
    color: #eee;
    font-size: 0.8em;
    border-radius: fixpx(10);
    display: inline-block;
    box-shadow: 0 0 fixpx(5) rgba(0,0,0,0.2);
}

.messageshowtop {
    left: -10;
    transform: translate(-50%, fixpx(-30));
    opacity: 1;
}

.messageshowbottom {
    left: -10;
    transform: translate(-50%, fixpx(30));
    opacity: 1;
}

.msgroot {
    position: fixed;
    pointer-events: none;
    width: 100%;
}